body {
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.hero{
    max-width: 1440px;
}
.card {
    background-color: white;
    border-radius: 10px;
    height: 450px;
    width: 500px;
    
   
}
.content{
    padding: 50px;
}
.woman {
    margin-top: 100px;
    margin-bottom: -70px;
    margin-left: 100px;
    margin-right: -150px;
    //box-shadow:  0 6px 4px -4px rgba(0,0,0,0.5);   
}

.desktopWoman{
    display: none;
}
h1{
    text-align: center;
    color:hsl(237, 12%, 33%);
}
.answers{
    display: none;
}
.questions:hover{
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}
.questions:hover + .answers{
    display: block;
    
}
@media screen and (min-width: 600px){
.card{
    display: block;
    position: absolute;
    right: 0;
    height: 450px;
    width: 800px;    
}
.woman{
    display: none;
}
.desktopWoman{
    display: block;
    left: 0;
    margin-left: -100px;
    margin-right: 100px;
    margin-top: 400px;
    margin-bottom: -400px;

}


}




